$color-primary: #00084d;
$color-secondary: #1d63ed;
$color-secondary-opacity: hsla(220, 85%, 52%, 0.2);
$color-dark-blue: #0c46c2;
$color-tertiary: #39cccc;
$color-grey: #393f49;

$font-weight-small: 500;
$font-weight-medium: 600;
$font-weight-bold: 700;

$small-spacing: 0.5em;
$medium-spacing: 1em;
$large-spacing: 2em;
$extra-spacing: 2em;
